
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index2</title>
    <link href="~/wwwroot/css/iakademi.css" rel="stylesheet" />
    @*
    <style>
        .ozellik1{
            background-color: blue;
            color: yellow;
            font-size: 30px;
        }

        #ozellik2{
            background-color: gray;
            color: white;
            font-size: 25px
        }
    </style>
    *@
</head>
<body>
    @*
        . = class, sayfadaki her yere ve birden fazla kullanılabilir
        # = id, sayfada yanlızca 1 yerde kullanılabilir
    *@
    <p class="ozellik1">Paragraf1</p>
    <p style="background-color:red; color:yellow; font-size:30px">Paragraf2</p>
    <p id="ozellik2">Paragraf3</p>

    @* Özelliğin sadece belirli kısmını override yapar *@
    <p class="ozellik1" style="background-color:purple;">Paragraf4</p>

    @*  *@
    <p>Paragraf5</p>

</body>
</html>
