@model Status
@{
    ViewData["Title"] = "Durum Yarat";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
@* /theme/templates/admin/form_controls.html'den alındı *@


<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet box purple ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i> DURUM GİRİŞ FORMU
                </div>
                <div class="tools">
                    <a href="" class="collapse">
                    </a>
                    <a href="#portlet-config" data-toggle="modal" class="config">
                    </a>
                    <a href="" class="reload">
                    </a>
                    <a href="" class="remove">
                    </a>
                </div>
            </div>
            <div class="portlet-body form">
                @* method="post" HttpPost'a gönderir *@
                <form class="form-horizontal" role="form" action="/Status/StatusCreate" method="post">
                    <div class="form-body">
                        <div class="form-group">
                            @* DisplayName'den dolayı label'in içini doldurmaya gerek yok. 'asp-for' *@
                            <label class="col-md-3 control-label" asp-for="StatusName"></label>
                            <div class="col-md-9">
                                @* required maxlength="50" 'lar server tarafında bakıldığı için yazmaya gerek yok *@
                                <input type="text" class="form-control input-lg" placeholder="Durum Adı Giriniz" asp-for="StatusName" required maxlength="100">
                            </div>
                            <span asp-validation-for="StatusName" class="text-danger"></span>
                        </div>

                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label" asp-for="Active"></label>
                        <div class="col-md-9">
                            <input asp-for="Active" class="form-control input-lg" />
                        </div>
                    </div>

                    <div class="form-actions right1">
                        <a asp-action="StatusIndex" class="btn btn-primary">DURUM LİSTESİ</a>
                        <input type="submit" name="name" value="KAYDET" class="btn btn-success" />
                    </div>

                </form>
            </div>
        </div>
        <!-- END SAMPLE FORM PORTLET-->
    </div>
    </
