
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index4</title>

    @* Önce Css Sonra JavaScript olacak sırada eklenecek *@
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/style.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>

    <ol>
        <li>İzmir</li>
        <li>Muğla</li>
        <li>Dnizli</li>
    </ol>

    <div id="dv1">
        AAAAAAAAAAAAAAAAAAAAAAAAAAAAA
        <br />
        BBBBBBBBBBBBBBBBBBBBBB
    </div>

    <span id="sp1">SİLİNECEK</span>

    <br />
    <span class="cls1">CLASS1 SİLİNECEK</span>
    <br />
    <span class="cls1">CLASS1 SİLİNECEK</span>
    <br />
    <span class="cls2">CLASS2 SİLİNECEK</span>
    <br />

    <button id="btn1">ÖNÜNE ŞEHİR EKLE</button>
    <button id="btn2">ARKASINA ŞEHİR EKLE</button>
    <br />

    <button id="btn3">SİL</button>
    <button id="btn4">CLASS İLE SİL</button>
    <br />

    <button id="btn5">CLASS EKLE</button>
    <button id="btn6">CLASS SİL</button>
    <button id="btn7">TOGGLE CLASS</button>
    <br />

    <h3 class="xx pembe">3333333333333333</h3>
    <h3 class="xx pembe">33--------33</h3>
    <h4 class="xx pembe">4444444444444444</h4>
    <p class="xx pembe">p1111111111</p>
    <p class="xx pembe">p2222222222</p>
    <br />

    <button id="btn8">BİRDEN FAZLA REMOVECLASS</button>

</body>
</html>

<script>
    // Remove more than classes from more than 1 UIs at the same time
    $("#btn8").click(function () {
        $("h3, h4 ,p").removeClass("pembe")
    })

    // Toggle classes to div with id
    $("#btn7").click(function () {
        $("#dv1").toggleClass("xx pembe")
    })

    // REmove classes to div with id
    $("#btn6").click(function () {
        $("#dv1").removeClass("pembe")
    })

    // Add classes to div with id
    $("#btn5").click(function () {
        $("#dv1").addClass("xx pembe")
    })

    // span içideki classları cls1 olanları sil
    $("#btn4").click(function () {
        $("span").remove(".cls1")
    })

    $("#btn3").click(function () {
        $("#sp1").remove()
    })

    // Add to top of the list
    $("#btn1").click(function () {
        $("ol").prepend("<li>Aydın</liZ")
    })

    // Add to bottom of the list
    $("#btn2").click(function () {
        $("ol").append("<li>Mansisa</liZ")
    })
</script>
