
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index3</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>

    <div id="veri">Bu bir <b>JQuery</b> div'idir.</div>
    <input type="button" id="btn1" value="text" />
    <input type="button" id="btn2" value="html" />

    <input type="text" id="txt3" value="İakademi" />
    <input type="button" id="btn3" value="val" class="btn btn-success" />

    <a href="http://www.google.com" id="link"><span id="sp1">Google amcaya git</span></a>
    <button id="btn4">TIKLA URL</button>

</body>
</html>

<script type="text/javascript">
    $(document).ready(function () {

        $("#btn4").click(function () {
            // alert($("#link").attr("href"))
            $("#link").attr("href", "http://www.hepsiburada.com")
            $("#sp1").text("Hepsiburada'ya git")
        })

        $("#btn3").click(function () {
            alert("VAL = " + $("#txt3").val())
        })

        $("#btn1").click(function () {
            alert("Yazı = " + $("#veri").text())
        })

        $("#btn2").click(function () {
            alert("HTML = " + $("#veri").html())
        })
    })
</script>
