
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index3</title>
    <link href="~/css/style.css" rel="stylesheet" />

    <style>
        .deneme{
            width:600px;
            background-color:rebeccapurple;
            color:white;
            padding:5px;
            margin-top:15px;
            font-size:18px;
            line-height:30px; /* Satır yüksekliği */
            letter-spacing:5px; /* harfler arası boşluk */

            /* Yazıları hizalama */
            /*
                left: Soldan Hizalar
                right: Sağdan hizalar
                center: Yazıları ortaya alır sağ ve solu hizalamaz
                justify: Hem sağdan hem soldan hizalar
            */
            text-align: justify;

            text-decoration: underline; /* altı çizili */

            /* Paragraf Girintisi */
            text-indent:100px;

            /* İlk harfler büyük */
            text-transform:capitalize;

            /* Kelimeler arası boşluk */
            word-spacing:20px;
        }
    </style>
</head>
<body>

    <div class="deneme">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. 
            The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,
            as opposed to using 'Content here, content here',</p>
    </div>

</body>
</html>
