@*
    @{
        ViewData["Title"] = "ExchangeRate";
        Layout = "~/Views/Shared/DefaultLayout.cshtml";
    }

    <div class="container">
        <div class="row">

            <span style="font-size:30px;"> Dolar Satış Kuru: @await Component.InvokeAsync("Exchange")</span>

        </div>
    </div>
*@

    @model string
    @{
        ViewData["Title"] = "ExchangeRate";
        Layout = "~/Views/Shared/DefaultLayout.cshtml";
    }

    <div class="container">
        <div class="row">

            <span style="font-size:30px;"> Dolar Satış Kuru: @ViewBag.usdSatis</span>
            <br />
            <span style="font-size:30px;"> Dolar Satış Kuru: @ViewBag.usdAlis</span>

        </div>
    </div>
