@{
    ViewData["Title"] = "PharmacyOnDuty";
    Layout = "~/Views/Shared/DefaultLayout.cshtml";
}

<div class="container">
    <div class="row">
        <span style="font-size:30px;"> Sıcaklık: @ViewBag.temperature</span>
        <br />
    </div>
</div>
