
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index2</title>
</head>
<body>
    <div>
        <h1>
            <a href="https://www.google.com.tr/?hl=tr">
                111111
            </a>
        </h1>
        <h2>2222222</h2>
        <h3>3333333</h3>
        <h4>4444444</h4>
        <h5>55555</h5>
        <h6>666666</h6>
        Burası ana sayfa
    </div>
</body>
</html>
