
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @*Aşağıdaki Google'la site hakkında bilgi sağlaması için kullanılır.
        Aramalarda daha öne çıkmasını sağlar*@
    @* Googla'da daha iyi bulunmak için xml dosyasında siteMap yaratılmalı. *@
    <meta name="description" content="motor, yedek parça" />
    <title>Index3</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>
