
@using Ders39_HtmlDersleri_NORTHWND.Models
@ViewBag

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index4</title>
    <link href="D:\Projeler\IAkademi\Ders39_HtmlDersleri_NORTHWND\Ders39_HtmlDersleri_NORTHWND\Content\bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div>

        <form action="/Home/Index3" method="post">
            @* Çerçeve içine alır *@
            <fieldset>

                <legend>Üye Bilgileri</legend>
                <label>Ad Soyad</label>
                @* required ise içinin doldurulması zorunludur *@
                <input type="text" value="" maxlength="20" required placeholder="Buraya Yazınız" name="Name" />
                <br />

                <label>Email giriniz</label>
                @* Kullanıcıdan girdi almak ve ipucu *@
                <input type="text" placeholder="Buraya Yazınız" name="Email" required />
                <br />

                <label>Şifre Giriniz</label>
                @* type ile yazılanlar gizleniyor *@
                <input type="password" placeholder="Buraya yazınız" name="Password" />
                <br />

                <label>Yaş Giriniz</label>
                @* type ile yazılanlar gizleniyor *@
                <input type="password" placeholder="Buraya yazınız" name="Yas" />
                <br />

                <input type="submit" value="Giriş Yap" class="btn btn-danger" />

            </fieldset>
        </form>

       @{ 
           List<SelectListItem> kList = new List<SelectListItem>();
           foreach(var item in ViewBag.Categories as List<Categories>)
           {
               SelectListItem sli = new SelectListItem();
               sli.Text = item.CategoryName;
               sli.Value = item.CategoryID.ToString();
               kList.Add(sli);
           }
       }

        <h3>
            <span style="background-color:black; color:white;">Kategori Seçiniz</span>
            @Html.DropDownList("CategoryID", new SelectList(kList, "Value", "Text"))
        </h3>

    </div>
</body>
</html>
