
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @*Aşağıdaki Google'la site hakkında bilgi sağlaması için kullanılır.
        Aramalarda daha öne çıkmasını sağlar*@
    @* Googla'da daha iyi bulunmak için xml dosyasında siteMap yaratılmalı. *@
    <meta name="description" content="motor, yedek parça" />

    @* Site ile ilgili anahtar kelimeler *@
    <meta name="keywords" content="anahtar kelimler" />

    @*  *@
    <meta name="author" content="iakademi haftasonu ekibi" />
    <title>Index3</title>
    <link href="D:\Projeler\IAkademi\Ders39_HtmlDersleri_NORTHWND\Ders39_HtmlDersleri_NORTHWND\Content\bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div> 

        <form action="/Home/Index3" method="post">
            <label>Email giriniz</label>
            @* Kullanıcıdan girdi almak ve ipucu *@
            <input type="text" placeholder="Buraya Yazınız"/>
            <br />

            <label>Şifre Giriniz</label>
            @* type ile yazılanlar gizleniyor *@
            <input type="password" placeholder="Buraya yazınız" />
            <br />

            <input type="submit" value="Giriş Yap" class="btn btn-success" />
        </form>

    </div>
</body>
</html>
