
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index2</title>
</head>
<body>
    <div>

        <table border="1">
            <tr>
                <th>ID</th>
                <th>ÜRÜN ADI</th>
                <th>FİYAT</th>
            </tr>

            <tr>
                <td>1</td>
                <td>Televizyon</td>
                <td>25000</td>
            </tr>

            <tr>
                <td>2</td>
                <td>Cep Telefonu</td>
                <td>15000</td>
            </tr>
        </table>

        <dl>
            <dt>
                Kahve Türleri
            </dt>
            <dd>
                Türk KAhvesi
            </dd>

            <dd>
                Breazilya KAhvesi
            </dd>

            <dd>
                Guatemala KAhvesi
            </dd>

            <dd>
                Etiyopya KAhvesi
            </dd>

            <br />

            <dt>Çay Türleri</dt>

            <dd>Hibiskus Çayı</dd>
            <dd>Rize Turist Çayı</dd>
            <dd>5 Çayı</dd>
            <dd>Kaçak Çayı</dd>
            <dd>İngiliz Çayı</dd>
        </dl>

        <p>New&nbsp;backspace</p>

        <p><abbr title="Türkiye Büyük Millet Meclisi">TBMM</abbr> 23 Nisan 1920'de kuruldu </p>

        <p>Bu paragrafte <center>ortada</center> görünecek</p>

        <p>Bu paragrafte <small>küçük</small> yazıldı</p>
        <p>Bu paragrafte <big>büyük</big> yazıldı</p>

        <p>Bu paragrafte <i>yatık (italilk)</i> yazıldı</p>
        <p>Bu paragrafte <em>yatık (italik)</em> yazıldı</p>

        <p>Bu paragrafte <s>üstü çizili</s> yazıldı</p>
        <p>Bu paragrafte <del>üstü çizili</del> yazıldı</p>
        <p>Bu paragrafte <u>altı çizili</u> yazıldı</p>

        <p>Bu paragrafte <sup>yukarıda</sup> yazıldı</p>
        <p>Bu paragrafte <sub>aşağıda</sub> yazıldı</p>

        Aşağı </br> inmeyi </br> sağlar

        <strong>Kalın(koyu) yazı</strong>

        <p>Bu paragrafte <b>burası kalın</b> yazıldı</p>

        <p>Paragraf11111</p>
        <p>Paragraf222222</p>

        <img src="~/Content/download (1).jpeg" style="width:400px; height:500px" />

        <ul>
            <li>
                <a href="mailto:gunuluutku@gmail.com">
                    Send mail
                </a>
            </li>
            <li>bbbbbbbb</li>
            <li>ccccccc</li>
        </ul>

        <ol>
            <li>eeeeee</li>
            <li>fffffff</li>
            <li>gggggg</li>
        </ol>

        <h1>
            <a href="/Home/KategoriUrunler/4">Beyaz Eşya</a>
        </h1>

        <h1>
            <a href="https://www.google.com.tr/?hl=tr">
                111111 google'la git
            </a>
        </h1>
        <h2>2222222</h2>
        <h3>3333333</h3>
        <h4>4444444</h4>
        <h5>55555</h5>
        <h6>666666</h6>
        Burası ana sayfa
    </div>
</body>
</html>
