@using Ders39_HtmlDersleri_NORTHWND.Models
@model List<Categories>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>

        <div style="background-color:red;color:yellow;font-size:25px">>
            <span>KATEGORİLER</span>
            <ul>
                @foreach (var item in Model)
                {
                    <li>
                        <a href="">
                            @item.CategoryName
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
</body>
</html>
