@using Ders39_HtmlDersleri_NORTHWND.Models
@model List<Products>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UrunleriListele</title>
    <link href="D:\Projeler\IAkademi\Ders39_HtmlDersleri_NORTHWND\Ders39_HtmlDersleri_NORTHWND\Content\bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div> 

        <table class="table table.bordered border.primary">
            <tr>
                <th>ID</th>
                <th colspan="2">ÜRÜN ADI</th>
                <th>FİYAT</th>
            </tr>

            @foreach(var item in Model)
            {
                <tr>
                    <td>@item.ProductID</td>
                    <td>@item.UnitsInStock</td>
                    <td>@item.ProductName</td>
                    <td>@item.UnitPrice</td>
                </tr>
            }

        </table>

    </div>
</body>
</html>
