
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index2</title>

    <script>
        function fonksiyon() {
            document.getElementById("sonuc").innerHTML = "DEĞİŞTİ";
        }
    </script>

</head>
<body>

    <div id="sonuc">
        <p>
            Paragraf1 Değişecek
        </p>
        <button type ="button" onclick="fonksiyon()">TIKLA</button>
    </div>

</body>
</html>
