@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "TopSelledProducts";
    Layout = "~/Views/Shared/DefaultLayout.cshtml";
}
<!DOCTYPE html>

<html>
<head>

</head>

<body>
    <p>TopSelledProducts</p>
    <p>TopSelledProducts</p>
    <p>TopSelledProducts</p>
    <p>TopSelledProducts</p>
    <p>TopSelledProducts</p>
</body>
</html>
