@{
    Layout = null;
}

<!DOCTYPE HTML>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>hakkimizda</title>
</head>

<body>
    <p>paragraf1</p>
    <p>paragraf2</p>
    <p>paragraf3</p>
    <p>paragraf4</p>
</body>
</html>
